body{
    background-color: #c4d4eb;
}

h1{
    font-family: 'Bebas Neue', cursive;
    text-align: center;
}

input{
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 1em;
    padding-right: 35px;
}

#conteneur
{
    display: flex;
    justify-content: space-around;
}

select{
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 1em;
    padding-right: 140px;
}

label{
    font-size: 1em;
}